<div class="container">
  <div class="row">
    <div class="">
      投稿詳細
    </div>
  </div>
  <div class="row">
    <div class="">
      住所
    </div>
    <div class="">
      <%= @photo.address %>
    </div>
  </div>
  <div class="row">
    <div class="">
      <%= @photo.comment %>
    </div>
  </div>
</div>