<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <h4>検索結果</h4>
    </div>
  </div>
  <div class="row mt-5">
    <% if @range == "ユーザー" %>
    <div class="col-4 mx-auto">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th class="col-6">ユーザー名</th>
          </tr>
        </thead>
        <% @users.each do |user| %>
        <tbody>
          <tr>
            <td>
              <%= link_to user.name, user_path(user.id) %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <% else %>
    <div class="col-8 mx-auto">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th class="col-6">作品名</th>
            <th class="col-6">舞台</th>
          </tr>
        </thead>
        <% @animes.each do |anime| %>
        <tbody>
          <tr>
            <td>
              <%= link_to anime.title, anime_path(anime.id), data: {"turbolinks" => false} %>
            </td>
            <td>
              <%= anime.spot %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <% end %>
  </div>
</div>