<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">
        このサイトはアニメの舞台となった都市の紹介を行い、<br>
        作中のシーンに合わせて撮影した写真を投稿、<br>
        閲覧できるサイトとなっています。
      </h4>
    </div>
  </div>
</div>