<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h5 class="text-center">
        このサイトは聖地巡礼の際に活用できる</br>
        アプリケーションとなります。
      </h5>
    </div>
  </div>
  <div class="row">
    <%= link_to 'ゲストログイン（閲覧用）', guest_sign_in_path, method: :post %>
  </div>
</div>