<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>作品名</th>
            <th>舞台</th>
          </tr>
        </thead>
        <tbody>
          <% @animes.each do |anime| %>
          <tr>
            <td>
              <%= link_to anime.title, admin_anime_path(anime.id) %>
            </td>
            <td>
              <%= anime.spot %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>