<div class="container">
  <div class="row">
    <div class="">
      店舗詳細
    </div>
  </div>
  <div class="row">
    <div class="">
      店舗名
    </div>
    <div class="">
      <%= @store.store_name %>
    </div>
  </div>
  <div class="row">
    <div class="">
      住所
    </div>
    <div class="">
      <%= @store.store_address %>
    </div>
  </div>
  <div class="row">
    <div class="">
      店舗紹介
    </div>
    <div class="">
      <%= @store.store_introduction %>
    </div>
  </div>
  <div class="row">
    <div class="">
      関連アニメ
    </div>
    <div class="">
      <%= @store.anime_id %>
    </div>
  </div>
</div>