<div class="container">
  <div class="row">
    <div class="">
      ユーザー詳細
    </div>
  </div>
  <div class="row">
    <div class="">
      <table class="table">
        <tr>
          <th>ユーザー名</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>自己紹介文</th>
          <td><%= @user.introduction %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th>ステータス</th>
          <td><%= @user.is_deleted %></td>
        </tr>
      </table>
    </div>
  </div>
</div>