<div class="container">
  <div class="row">
    <div class="col">
      作品一覧
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to "新規登録", new_admin_anime_path %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>作品名</th>
            <th>住所</th>
          </tr>
        </thead>
        <% @animes.each do |anime| %>
        <tbody>
          <tr>
            <td>
              <%= link_to anime.title, admin_anime_path(anime.id) %>
            </td>
            <td>
              <%= anime.spot %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>